# Dependencies
node_modules/
venv/
__pycache__/
*.pyc
*.pyo

# Build output
frontend/dist/

# Environment
.env
.env.local

# Output files
output/videos/
output/audio/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignore Secure Biometric Images
backend/avatars/faces/
avatars/faces/
